/* VAMC HOMEPAGE */
.vamc_20px_spacer { width:100%; height:20px; margin:0px; padding:0px; }
.vamc_20px_spacer img { width:100%; height:20px; border:0px; padding:0px; }

#vamc_vaheader,#vamc_vafooter { margin:0px; padding:0px; border:0px solid #000000; }
#vamc_vhafooter { width:976px; font-size:16px; }

#vamc_titlebarhome { width:956px; padding:5px 10px 11px 10px; line-height:20px; font-size:16px; }
#vamc_titlebar { width:956px; padding:5px 10px 11px 0px; line-height:20px; font-size:16px; }

#vamc_twocolumn { margin-top:10px; }
#vamc_columnleft { width:602px; float:left; margin:0px 20px 40px 10px; padding:0px; position:relative; left:0px; top:0px; font-size:16px; display:inline; }
#vamc_columnright { width:334px; float:right; margin:0px 10px 40px 0px; padding:0px; font-size:16px; display:inline; }

#vamc_rotabanner { width:602px; height:271px; margin:0px 0px 20px 0px; padding:0px; }

#vamc_pbuttons { width:602px; height:35px; margin:0px 0px 20px 0px; padding:0px; }
#vamc_pbuttons h3 { width:100%; }
#vamc_pbuttons a { display:block; padding-bottom:8px; padding-top:5px; }
#vamc_pbutton1 { float:left; width:180px; height:35px; margin:0px 20px 0px 0px; text-align:center; background-image:url('/ts_shared/images/pbutton1.jpg'); background-repeat:no-repeat; }
#vamc_pbutton2 { float:left; width:180px; height:35px; margin:0px 20px 0px 0px; text-align:center; background-image:url('/ts_shared/images/pbutton2.jpg'); background-repeat:no-repeat; }
#vamc_pbutton3 { float:left; width:202px; height:35px; margin:0px; text-align:center; background-image:url('/ts_shared/images/pbutton3.jpg'); background-repeat:no-repeat; }

#vamc_introbox { margin-bottom:20px; max-height:120px; overflow:hidden; }

#vamc_news { width:602px; margin:0px 0px 20px 0px; padding:0px; }
#vamc_nationalnews { width:602px; min-height:130px; margin:0px; padding:0px; }
.vamc_localnews { width:602px; min-height:130px; margin:0px 0px 20px 0px; padding:0px; }
.vamc_newsbar { float:right; font-size:.65em; color:#606060; text-transform:uppercase; margin-top:-28px; }

#vamc_locationsresources { float:left; width:602px; height:100%; margin:0px 0px 40px 0px; padding:0px; display:inline; }
#vamc_locations { float:left; width:380px; height:100%; margin:0px 10px 0px 0px; border-right:1px solid #e0e0e0; padding:0px 9px 0px 0px; display:inline; }
#vamc_clinics { width:180px; height:100%; margin:0px 20px 0px 0px; padding:0px; }
#vamc_otherfacils { float:right; width:180px; height:100%; margin:0px; padding:0px; }
#vamc_resources { float:right; width:180px; margin:0px 20px 0px 0px; height:100%; display:inline; }

#vamc_badges { width:602px; margin:0px; padding:0px; clear:left; }
#vamc_badges_bottomrow { margin-top:10px; }
.vamc_badgesleft { float:left; }

#vamc_natfocus { width:602px; margin:20px 0px 0px 0px; padding:0px; background-image:url('/ts_shared/images/section_shadow.jpg'); background-repeat:no-repeat; background-position:0px 20px; }

#vamc_alertbox { width:312px; margin:0px 0px 20px 0px; border:1px solid #f1e891; padding:10px; background-color:#ffffff; background-image:url('/ts_shared/images/alertbgrd.gif'); background-repeat:repeat-x; }
#vamc_alertnational { width:334px; margin-bottom:20px; }

#vamc_address { width:334px; height:100%; margin:0px 0px 10px 0px; padding:0px; }

#vamc_toptasks { width:334px; height:100%; margin:0px; padding:0px; }

#vamc_phonecare { width:332px; height:100%; margin:0px; border:1px solid #e0e0e0; padding:0px; position:relative; }

#vamc_calendar, #vamc_emailUpdates { width:332px; height:100%; margin:0px; border:1px solid #e0e0e0; padding:0px; }

#vamc_govDelivery { margin:0px 0px 10px 0px; padding:0px; font-family:verdana, arial, sans-serif; }
#vamc_govDelivery form { margin:0px; padding:0px; }
#vamc_govDelivery p { font-size:.75em; }
#vamc_govDelivery fieldset { border:0px; margin:0px; padding:0px; }
#vamc_govDelivery legend { display:none; }
#vamc_govDeliveryFields { padding-top:5px; }
#vamc_govDeliverySubmit { width:60px; }

#vamc_mhev { width:334px; height:141px; margin:0px; padding:0px; }

#vamc_fbwidget { padding:0px; }
#vamc_fbwidget iframe { border:none; overflow:hidden; width:334px; height:461px; }

#vamc_connect { width:976px; height:70px; background-color:#ffffff; background-image:url('/ts_shared/images/connectbgrd.jpg'); background-repeat:no-repeat; margin:0px; padding:0px; }

#vamc_footernav { width:976px; height:182px; background-color:transparent; background-image:url('/ts_shared/images/footerbg.jpg'); background-repeat:no-repeat; padding-top:20px; }
#vamc_footercolumn1 { float:left; width:146px; background-color:transparent; margin:0px 20px 0px 176px; padding:0px; display:inline; }
#vamc_footercolumn2 { float:left; width:146px; background-color:transparent; margin:0px 20px 0px 0px; padding:0px; display:inline; }
#vamc_footercolumn3 { float:left; width:146px; background-color:transparent; margin:0px 20px 0px 0px; padding:0px; display:inline; }
#vamc_footercolumn4 { float:left; width:146px; background-color:transparent; margin:0px; padding:0px; display:inline; }

#vamc_wrapper img { margin:0px; padding:0px; border-width:0px; }
#vamc_wrapper img.vamc_news { width:180px; height:130px; float:left; border-width:0px; margin-right:20px; }
#vamc_wrapper img.vamc_badge { width:180px; height:60px; margin:0px 20px 0px 0px; }
#vamc_wrapper img.vamc_badgeright { margin-right:0px; }
#vamc_wrapper img.vamc_exp { margin:0px 0px 0px 10px; padding-top:2px; }
#vamc_wrapper img.vamc_mhev { width:334px; height:141px; padding:0px; margin:0px; }
#vamc_wrapper img.vamc_sectionShadow { float:left; margin-top:-10px; margin-bottom:-4px; width:600px; height:23px; border:0px; }
#vamc_wrapper img.vamc_rssIcon { position:relative; top:2px; }

#vamc_socmedicons img { margin:20px 10px 0px 0px; height:36px; width:36px; border:0px; }

#vamc_wrapper p,#vamc_wrapper h1,#vamc_wrapper h2,#vamc_wrapper h3,#vamc_wrapper h4 { margin:0px; padding:0px; color:#404040; font-family:Verdana, Geneva, Arial, sans-serif; }
#vamc_wrapper p { font-size:.8em; line-height:1.5em; }
#vamc_wrapper p#footer-area-links,#vamc_wrapper p#footer-address { font-size:1em; line-height:1em; }
#vamc_wrapper p.vamc_address { margin-bottom:.5em; }
#vamc_wrapper p.expandbox { padding:5px; background-color:#ffffff; }
#vamc_wrapper p.vamc_calendarmore { text-align:right; padding:0px 5px 5px 0px; }
#vamc_wrapper p.vamc_alert { font-weight:bold; }

#vamc_wrapper h1.vamc_hometitle { font-size:1.5em; line-height:1em; font-weight:bold; }
#vamc_wrapper h2 { font-size:1.25em; font-weight:bold; line-height:1em; margin:0px 0px .25em 0px; }
#vamc_wrapper h2.vamc_alert { color:#dd190a; text-transform:uppercase; }
#vamc_wrapper h2.vamc_connect { position:relative; top:30px; margin-left:20px; margin-right:20px; float:left; }
#vamc_wrapper h3 { font-size:1em; font-weight:bold; line-height:1.25em; margin:0px; }
#vamc_wrapper h4 { font-size:.8em; font-weight:bold; line-height:1.25em; margin:0px 0px .25em 0px; }

#vamc_wrapper hr.vamc_rightcol { width:100%; height:1px; color:#e0e0e0; background-color:#e0e0e0; border-width:0px; margin:0px 0px 10px 0px; padding:0px; }

#vamc_wrapper a:visited { color:#3c198b; text-decoration:none; }
#vamc_wrapper a:active { color:#1a49a0; text-decoration:none; }
#vamc_wrapper a:link { color:#1a49a0; text-decoration:none; }
#vamc_wrapper a:hover { color:#1a49a0; text-decoration:underline; }

#vamc_wrapper a:visited.vamc_heading { color:#1a49a0; text-decoration:none; }
#vamc_wrapper a:active.vamc_heading { color:#1a49a0; text-decoration:none; }
#vamc_wrapper a:link.vamc_heading { color:#1a49a0; text-decoration:none; }
#vamc_wrapper a:hover.vamc_heading { color:#1a49a0; text-decoration:underline; }

#vamc_wrapper a:link.vamc_alertlink { color:#dd190a; font-weight:bold; text-decoration:none; } 
#vamc_wrapper a:active.vamc_alertlink { color:#dd190a; font-weight:bold; text-decoration:none; }
#vamc_wrapper a:visited.vamc_alertlink { color:#dd190a; font-weight:bold; text-decoration:none; }
#vamc_wrapper a:hover.vamc_alertlink { color:#dd190a; font-weight:bold; text-decoration:underline; }

#vamc_wrapper a:visited.vamc_vhafooter { color:#404040; text-decoration:none; }
#vamc_wrapper a:active.vamc_vhafooter { color:#404040; text-decoration:none; }
#vamc_wrapper a:link.vamc_vhafooter { color:#404040; text-decoration:none; }
#vamc_wrapper a:hover.vamc_vhafooter { color:#404040; text-decoration:underline; }

#vamc_wrapper a:visited.vamc_newsbar_link { color:#606060; }
#vamc_wrapper a:active.vamc_newsbar_link { color:#606060; }
#vamc_wrapper a:link.vamc_newsbar_link { color:#606060; }
#vamc_wrapper a:hover.vamc_newsbar_link { color:#606060; }

#vamc_wrapper ul,#vamc_wrapper li { margin:0px; padding:0px; color:#303030; font-family:Verdana, Geneva, Arial, sans-serif; }
#vamc_wrapper ul { list-style-type:none; }
#vamc_wrapper li { font-size:.8em; line-height:1.25em; padding-bottom:.25em; }
#vamc_wrapper li.vamc_vhafooter { font-size:.6em; line-height:1em; margin-bottom:.7em; }
#vamc_introbox ul,#vamc_natfocus ul,#vamc_alertnational ul,#vamc_alertbox ul,#vamc_emailUpdates ul { list-style-type:disc !important; margin:5px 0px 5px 25px; }

#vamc_locationsresources li { line-height:1em; padding-bottom:.5em; }
.vamc_section_header { display:block; font-size:.8em; color:#606060 !important; border-bottom:1px solid #d0d0d0; text-transform:uppercase; margin-bottom:10px !important; }

/* FEATURES */
#vamc_features { margin:0px 10px 0px 0px; }
#vamc_features .image-box-landscape { margin:4px 0px 20px 20px; width:302px; float:right; display:inline; }
#vamc_features .image-box-landscape img { width:300px; height:210px; border:1px solid #404040; }
#vamc_features .image-box-portrait { margin:4px 0px 20px 20px; width:212px; float:right; display:inline; }
#vamc_features .image-box-portrait img { width:210px; height:300px; border:1px solid #404040; }
#vamc_features .caption_right { font-size:90%; color:#808080; line-height:1.2em; padding-left:0px; }
#vamc_features .byline { font-style:italic; }

#vamc_features .vamc_breadcrumbs { margin:15px 0px 0px 0px; font-size:.9em; color:#808080; }
#vamc_features .vamc_breadcrumbs a { text-decoration:none; color:#808080; }
#vamc_features .vamc_breadcrumbs a:hover { text-decoration:underline; color:#808080; }

#vamc_features .vamc_featureSection { border-bottom:1px solid #d0d0d0; width:100%; margin-bottom:10px; }
#vamc_features .vamc_featureSub { float:right; font-size:.75em; color:#606060; text-transform:uppercase; }
#vamc_features .vamc_featureSub a { color:#606060; text-decoration:none; }
#vamc_features .vamc_featureSub a:hover { color:#606060; text-decoration:underline; }

#vamc_features .fltrt { float:right; margin:30px 0px 30px 8px; clear:both; }
#vamc_features .clearfloat { clear:both; height:0px; overflow:hidden; position:relative; }

#vamc_features img.vamc_fthumb { border:1px solid #404040; margin:5px 0px 4px 15px; float:right; height:130px; width:180px; }
#vamc_features img.rss_icon { border:0px; width:13px; height:13px; float:right; margin-top:12px; }
#vamc_features img.vamc_sectionShadow { float:left; margin-top:-10px; margin-bottom:-14px; width:600px; height:23px; border:0px; }
#vamc_features img.vamc_rssIcon { position:relative; top:2px; }

#vamc_features #links_in_box ul { margin:-2px 0px; padding:0px; list-style:none; }
#vamc_features #links_in_box ul li {padding:0px 2px 4px 14px; background:url(/ts_shared/images/bulletnewWindow2.png) no-repeat left 5px; line-height:15px; margin:0px; color:#ececec; }
#vamc_features .links_in_box_normal ul { margin:-2px 0px; padding:0px; list-style:none; }
#vamc_features .links_in_box_normal { clear: left; }
#vamc_features .links_in_box_normal ul li {padding:0px 2px 8px 4px; background:url(/ts_shared/images/spacer3by3.gif) no-repeat left 5px; line-height:15px; margin:0px; }

#vamc_features p.page-title { margin-top:0px; padding-top:0px; }