@charset "utf-8";

.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.input-group,.row,.content{box-sizing:border-box; padding:0;}
audio,canvas,video{display:inline;zoom:1}
html{font-size:100%}
img{width:auto;height:auto;-ms-interpolation-mode:bicubic}
button,input{overflow:visible}
.container{zoom:1;padding:0;}
.row{zoom:1;padding:0;margin:0;}
.dl-horizontal{zoom:1}
input[type="radio"],input[type="checkbox"]{margin-top:0}
.help-block{display:inline;zoom:1}
.form-horizontal .form-group{zoom:1}
.dropdown-toggle{margin-bottom:-3px}
.dropdown-menu .divider{width:100%;margin:-5px 0 5px}
.list-group{margin-left:0}
ul .list-group-item{list-style:none}
.sr-only{clip:rect(0 0 0 0)}
.list-inline > li{display:inline;zoom:1}
.fill{margin:0;}
*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: none;
}

/* CSS Document */
html{font-size:100%;overflow-x:hidden;}
body{
	position:relative;
	color: #010C29;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 75%;
	height: 100%;
	overflow-x:hidden;
	background:#003161;}
#main{ position:relative; }
#bg-main{ min-width:320px; }
.slider{z-index:1000;}
.slider > .slider-thumbnails > .thumbnails-wrap > a{
	width:22% !important; padding-bottom:1% !important;
}
.slider {
z-index: 300;
}
.facility {
 border-bottom: 1px solid #CCCCCC;
   min-height:150px !important;
    position: relative;
}
#vamc_calendar { width:96% !important;}
.main-nav .col-md-6:first-child{border-left: none !important;}
.main-nav .col-md-6{ width:45% !important; padding-left:10px !important;}
.main-nav .col-md-4:first-child{border-left: none !important;}
.main-nav .col-md-4{width:30% !important; padding-left:10px !important;}
ul,ol{
	list-style:none;
	margin:0;
	padding:0;
}
a:hover, a:focus{ color:#900;}
a:focus{ outline:none;}
p {
color: #444444;
font-family: Arial,Helvetica,sans-serif;
font-size: 1.1em;
line-height: 1.5em;
margin: 0;
padding: 0 15px 1.25em 0;
}
#main-wrap{
	background:#FFFFFF;
}
.main-header-wrap{
	background:#01133F;
}

.main-header {
background: #01133f;
overflow: hidden;
}
#main-logo {
	float: left;
}
#main-logo img{
	width:250px;	
}
/* # social and search ========================================================== */
.social-n-search { width:470px !important;	}
#main-social-wrapper{ display:none;}
#mainSearchForm{  padding: 7px;}

/* social */
#main-social-wrapper {
	height: 22px;
	width: 341px;
	float: right;
	margin: 12px 20px 10px 20px;
}
.main-social-containers {
	height: 22px;
	width: 22px;
	float: right;
	display: inline;
}

	#homepageSlider .scrollable .items > div .slider-info{height: 95px !important;}
	.slider > .slider-thumbnails > .thumbnails-wrap > a.selected{
		
		 min-height:30px !important;
	}

/*Skip Nav */
#skiplink a:active, #skiplink a:focus {
    background-color: #444444;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    height: auto;
    overflow: visible;
    padding: 3px 5px 5px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: auto;
    z-index: 5;
}


.skip {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

#skiplink a {
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
}



/* search */
#main-search {
height: 33px;
width: 400px;
float: right;
margin: 0 0px 0 -20px;
}
#search-area {
float: right;
text-align: right;
margin-right: 15px;
width: 360px;
}
#mainSearchForm #searchtxt {
color: #000;
font-family: Arial,Helvetica,sans-serif;
font-size: 10px;
margin-right: 5px;
margin-top: 1px;
padding-left: 0.2em;
vertical-align: top;
width: 48%;
height: 21px;
line-height:20px;

}

/* / social and search ========================================================== */
/* # main navigation ========================================================== */
#nav-wrap{ 
	position:absolute;
	width:0;
	top:0;
	overflow:hidden;
	background:#0F4F8D;
}
.topnav {
	padding:0;
	margin:0;
   font-size: 13px;
}
.topnav li.first-level:first-child {
    border-right: medium none;
}
.topnav li.first-level{
	width:12% !important;
	display:block;
	list-style:none;
	position:relative;
	background:#0F4F8D;
	margin-bottom:1px;
	z-index:999999;
}
.topnav li.bmemorial{width: 15.1% !important;}
.topnav li.nav-home-icon{display:none;}
.topnav li.first-level > a{filter:none;}
.accordion li .sub-menu a{
	filter:none;
}
.topnav li.first-level > a:after{
	content:'';
	display:block;position: absolute;
	width: 9px;
	height: 9px;
	 left: 18px;
	top: 13px;
	z-index: 999;
	background:url(../img/closed.png) 0 0 no-repeat;
}
.topnav li.first-level > a.active{	
	background: url(Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGh�SJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE);
	background: -moz-linear-gradient(top, rgba(11,90,146,1) 0%, rgba(0,63,114,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(11,90,146,1)), color-stop(100%,rgba(0,63,114,1)));
	background: -webkit-linear-gradient(top, rgba(11,90,146,1) 0%,rgba(0,63,114,1) 100%);
	background: -o-linear-gradient(top, rgba(11,90,146,1) 0%,rgba(0,63,114,1) 100%);
	background: -ms-linear-gradient(top, rgba(11,90,146,1) 0%,rgba(0,63,114,1) 100%);
	background: linear-gradient(top, rgba(11,90,146,1) 0%,rgba(0,63,114,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b5a92', endColorstr='#003f72',GradientType=0 );
}
.topnav li.first-level > a.active:after{	background-image:url(../img/open.png);}
.topnav li.nav-home-icon > a{ 
background: url(Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGh�SJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE);
	background: -moz-linear-gradient(top, rgba(108,110,116,1) 0%, rgba(75,77,81,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(108,110,116,1)), color-stop(100%,rgba(75,77,81,1)));
	background: -webkit-linear-gradient(top, rgba(108,110,116,1) 0%,rgba(75,77,81,1) 100%);
	background: -o-linear-gradient(top, rgba(108,110,116,1) 0%,rgba(75,77,81,1) 100%);
	background: -ms-linear-gradient(top, rgba(108,110,116,1) 0%,rgba(75,77,81,1) 100%);
	background: linear-gradient(top, rgba(108,110,116,1) 0%,rgba(75,77,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c6e74', endColorstr='#4b4d51',GradientType=0 );
}
.topnav li.nav-home > a{ background:none;}
.topnav li.first-level > a:hover{text-decoration:none}
.topnav .mainnav-dd{
	display:none;
	background:#EFEFEF;
}
.sec-level, .sec-level a{
	color:#FFF;
}
.topnav .mainnav-dd li,
.topnav .mainnav-dd a{display:block;}
.sec-level > li {
	/*font:bold 12px/16px Arial,Helvetica,sand-serif;*/
	cursor:pointer;
	background:#EFEFEF;
	border-bottom: 1px solid #C9C9C9;
	margin-bottom:0;
}
.sec-level > li a{
	display:block;
	color:#797979;
	line-height:22px;
	padding:4px 10px 4px 35px;
}
.sec-level h4 {
	font:12px/16px Arial,Helvetica,sand-serif;
	text-transform:uppercase;
	cursor:pointer;
	color:#797979;
	background:#fff;
	margin-bottom:0;
}
.sec-level h4 span{
 	color: #0F4F89;
font-family: Arial,Helvetica,sand-serif;
font-size: 1em;
font-weight: bold;
letter-spacing: 0.05em;
margin: 0 0 0px;
  padding: 8px 10px 8px 45px;
text-align: left;
text-transform: uppercase;
	display:block;	

	background:url(../img/sub-closed.png) 25px center no-repeat;
}
.sec-level h4.active{
	background: -moz-linear-gradient(top,  #dbf0ff 0%, #cbebff 50%, #bce6ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbf0ff), color-stop(50%,#cbebff), color-stop(100%,#bce6ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dbf0ff 0%,#cbebff 50%,#bce6ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dbf0ff 0%,#cbebff 50%,#bce6ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dbf0ff 0%,#cbebff 50%,#bce6ff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dbf0ff 0%,#cbebff 50%,#bce6ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbf0ff', endColorstr='#bce6ff',GradientType=0 ); /* IE6-9 */
}
.sec-level h4.active span{background:url(../img/sub-open.png) 25px center no-repeat;}
.topnav .sec-level li {

}
.topnav .tri-level{display:none;}
.topnav .tri-level li { margin-bottom:0; font-weight:normal;}
.topnav .tri-level li a{ 
font-size: 0.92em;
line-height: 1.7em;
	display:block;
	color:#797979;
	background:#EFEFEF;
	padding:4px 10px 4px 50px;
	border-bottom: 1px solid #C9C9C9; font-weight:normal;
}
.topnav .tri-level li:last-child a{border:none;}
.menu-btn {
    background: none repeat scroll 0 0 #195FA4;
	/*background:url(../img/gray_nav_bkgd.png) repeat-x scroll left top transparent;*/
    color: #FFFFFF;
    height: 36px;
    text-align: right;
    width: auto;
}
.menu-btn .lft-menu span {
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    line-height: 17px;
    padding: 10px;
    text-transform: uppercase;
}

.menu-btn .rt-menu span{ 
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    margin: 8px 10px 8px 15px;
    text-decoration: none; outline: medium none; }
#menu-btn .rt-menu span{  
	  background: url("../img/list-icon1.png") no-repeat scroll left top transparent;
    line-height: 14px;
    margin: 10px 9px 9px;
	padding-left: 25px; cursor:pointer;
}

.menu-back{
	display:block;
	width: 60px;
	clear:both;
	padding:3px 5px;
	margin:5px 0 10px 10px;
	background:#FFF;
	color:#2A6496;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
}
/* login*/
#type2-special-message {
	margin:0 !important;
	height:380px !important;
	background: url("../img/bg-explore-form.jpg") no-repeat scroll center -24px;

}
a.type2-link   {font-family: "Myriad Pro",Arial,Helvetica,sans-serif; color:#FFFFFF; text-decoration:none;}

a.type2-link:link {font-family: "Myriad Pro",Arial,Helvetica,sans-serif; color:#FFFFFF;}

a.type2-link:visited { color: #8DE1FB; outline: medium none; text-decoration: none;}

a.type2-link:hover {text-decoration: underline;}

a.type2-link  a img {border: medium none;}
#type2-special-message h3 { 
	font-weight:bold; 
	font-family:Arial, Helvetica, sans-serif; color:#ffffff;
	text-transform:uppercase; 
	text-align:center;
	text-shadow:0px 1px 2px #474747; 
	filter:dropshadow(color=#474747, offx=0, offy=1); 
	 margin: 0 0 6px 0;
}
#type2-special-message h3.text_replacement {  
		background: url("../img/text-stay-connected-to-va.png") no-repeat scroll left bottom transparent;
    height: 40px;
    text-indent: -9999px;
    width: 100%;
		margin-left:15px;
}


/* FORM STYLES FOR EMAIL COLLECTION */
form#GovDeliverySignupForm label { display:block; float:left; clear:left; margin:6px 0; }
form#GovDeliverySignupForm label input,form#GovDeliverySignupForm label textarea,form#GovDeliverySignupForm label select { float:left; width:215px; }
form#GovDeliverySignupForm #GovDeliverySignupBlock {     border: medium none; margin: 15px; width: auto; }
form#GovDeliverySignupForm #GovDeliverySignupBlock label { display:block; float:left; width: 90%;color:#ffffff;font-weight:bold;  font-family:Arial, Helvetica, sans-serif; font-size:14px; text-shadow: 0px 1px 2px #474747; filter: dropshadow(color=#474747, offx=0, offy=1); margin-bottom:5px; }
form#GovDeliverySignupForm #GovDeliverySignupBlock label.ValidateErrorText { font-weight:normal; font-size:14px; color:yellow; margin:0; }
form#GovDeliverySignupForm #GovDeliverySignupBlock select { width:215px; margin-bottom:7px; }
form#GovDeliverySignupForm #GovDeliverySignupBlock input { margin-bottom:7px; }
form#GovDeliverySignupForm #GovDeliverySignupBlock input#GovDeliveryEmail { width:209px; height:32px; background:url(../img/bg-input-email.png) top left no-repeat; border:0; padding-left:5px; font-size:14px; font-weight:bold; }

form#GovDeliverySignupForm input[type="submit"] { display:inline; float:left; width:153px; height:37px; margin:5px 0 0 0px; border:0;
cursor:pointer; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#ffffff; text-transform:uppercase; letter-spacing:.05em; font-size:16px;text-shadow:0 -1px #266684; background:url('../img/bg-button-submit.png') 0 0 no-repeat; }
form#GovDeliverySignupForm input[type="submit"]:hover { background-position:0 -39px; text-shadow:0 -1px #6f161a; }
form#GovDeliverySignupForm input[type="submit"]:active { background-position:0 -39px; text-shadow:0 -1px #6f161a; }


#type2-special-message #GovDeliveryPlaceHolder p {
    font-size: 14px;
    line-height: 18px;
    margin: 15px 15px;
    padding: 0;
    text-shadow: 0 1px 2px #474747;
    width: auto;
		color:#fff;
}
.quicksearch{border: 4px solid #E0E9F0;
    font-size: 1.2em;
    margin-bottom: 10px;
    padding: 14px 3px 0;}


/* HP Content Main Styles */
#hp-three-col {height:100%; background-color:#FFFFFF;  }

#hp-three-col { height:420px;}
#hp-three-col .col{
	margin: 0;
}
#hp-three-col .titles {
	float:none;
}
#hp-three-col .titles h2 {
    color: #0083BE;
    font: 21px Georgia,"Times New Roman",Times,serif;
    margin:11px 0 0 3px;
	
}
#hp-three-col br{display:none;}
#hp-three-col .titles h2 a {color:#0083BE; text-decoration:none; }
a:visited: {color:#0083BE;}
#hp-three-col ul.custom{overflow:hidden;}
#hp-three-col ul.custom li a:hover{text-decoration:underline;}
#hp-three-col .icons {height: 57px;  width: 52px; float:left;} 
#hp-three-col p { height:125px !important; }

#hp-three-col ul.custom li {float:none;}
.hp-button-wrapper{height: 30px; width: 100%; margin: 14px 0 0 22px;}
li.bullet {list-style-type: none; background: url("../img/bullet.png") no-repeat top left;height: 13px;  margin-left: 18px; padding-left: 25px;} 
#hp-three-col .bullet a { color:#0083be;}
.button-getting-started{ background: url("../img/button-getting-started.png") no-repeat 0 0; float:left; height:34px; width:129px; margin-top:10px; }
.button-getting-started .text a {font: "Times New Roman", Times, serif; color:#333333;text-decoration:none; height:15px; width:129px;  text-align:center; float:left; margin-top:10px; }
.hp-icons { height:49px; width:57px; float:left;}
/*#swoosh{background:url("admin-swoosh2.png") no-repeat 0 0 transparent; position:relative; z-index:8; float:left; height:56px; width: 740px; margin-top:-27px;}*/
.social-wrapper-508{ margin-left:143px;}
/* End HP Content Main Styles*/	

/* Health Content Start */
#container{
 background:#FFFFFF;
 padding: 0 0 30px 0;
 overflow: hidden;
 }
#menuIAmA {
padding-left: 10px;
padding-bottom: 0px;
}
#menuIAmA{ display:none;}
#leftNavContainer {
	background: url("../img/gray_nav_bkgd.png") left top repeat-x;
}
#menuIAmA label{
padding-left: 5px;
padding-top: 0;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 1em;
color: #0083BE;
line-height: 1.5em;
font-weight: 400;
margin: 12px 0 10px 0;
display: block;
}


.styled-select {
    background: none;
    /*height: 34px;*/
    overflow: hidden;
    width: 210px;
}

.styled-select select {
    background: transparent;
    border: 0px solid #CCCCCC;

    color: #848484;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: 400;
    height: 33px;
    line-height: 1.5em;
    padding: 0;
    width: 200px;
}

#left-col-content {
height: 100%;
margin: auto; display:none;
}
.sitemap{ display:block;}
.lftNavhide{display:none;}
.sitemap{
	background: #195FA4;
	margin-left: 0;
	padding: 9px 10px 10px 0;
}
.sitemap span{   
	color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 0 0 16px;
    text-transform: uppercase;
}
#sitemapup{
	background: url('../img/list-icon1.png') no-repeat scroll 10px 46% #195FA4; 	
	padding-left:18px;
}
#sitemapup span{
    cursor: pointer;
}
.lftNavhide{display:none;}
/* ------------  General Widget Stlyes -------------- */


.widget {
    max-height: 100%; 
    border: 4px solid #e0e9f0;
	 margin: 10px;
     padding: 3px 10px;
   
   /* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* IE10+ */

background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-8 */
}

.widget-title  {   
    color: #cc9933;
	display:block;
	padding-top:10px;
	padding-bottom:10px;
	background: url("../img/bg-widget-titles.png") no-repeat center bottom  transparent;
}
h3 {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 1.25em;
color: #003f72;
line-height: 1.3em;
font-weight: 400;
margin-top: 12px;
margin-bottom: 12px;
}
h4 {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 1.1em;
color: #003f72;
line-height: 1.35em;
font-weight: 400;
margin-top: 0;
margin-bottom: 10px;
padding: 0;
}
.widget-title h4 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	color:#b88447;
}

.widget ul,#innerContent .widget ul,#tier4innerContent .widget ul {
    list-style-type: none;
	padding: 0;
	margin:0;
}

.widget ul li,#innerContent .widget ul li,#tier4innerContent .widget ul li {
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
	list-style-type: none;
	display:block;
	float:left;
	padding:8px;
	margin:0;width: 100%;
}

#leftNavContainer .widget ul {
        margin-bottom:8px;
}

.widget a {
    	font-family: Arial, Helvetica, sans-serif;
    	font-size: 1em;
    	color: #0B6CB2;
	font-style: normal;
    	text-decoration: none;
	padding:0;
	margin:0;
}

.widget a:link { color: #0B6CB2; text-decoration: none;}
.widget a:visited {color: #7d478a; text-decoration: none;}
.widget a:active { color: #0B6CB2; text-decoration: none;}
.widget a:hover { color: #900; text-decoration: underline;}




/* ------------ End  General Widget Stlyes -------------- */
div.badge {
float: left;
margin: 10px 0 0 0;
padding: 0;
}
div.ebenefit{margin-left: 33px;
margin-top: 3px;}

#left-col-content .badge {
margin: 10px 10px 13px 27px;
}
div.badge a img {
width: 184px;
height: 90px;
}
div.badge a, div.badge a img {
margin: 0;
padding: 0;
}
#swoosh {
height: 56px;
width: 100%;
 background: url("../img/admin-swoosh2-ie.png") no-repeat right 0 transparent !important; margin-top:-25px !important;
}
.slider{ position:relative; top:-1px; z-index:5}
#mainContentWrapper {
background-image: url("../img/greyfade.png");
background-repeat: repeat-x;
background-position: left top;
padding: 12px 10px 10px 10px; 
}
#mainContentWrapper1 {
background-image: url("../img/greyfade.png");
background-repeat: repeat-x;
background-position: left top;
padding: 12px 10px 10px 10px; 
}
#breadCrumbPath {
font-size: .9em;
color: #444444;
font-weight: normal;
margin-top: 5px;
margin-bottom: 15px;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 2.44em;
color: #003f72;
line-height: 100%;
font-weight: 400;
margin: 0;
padding-bottom: 6px;
}
h2 {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 1.55em;
color: #003F72;
line-height: 1.75;
font-weight: 400;
margin: 12px 0 0 0;
padding-bottom: 6px;
}
#homeinnerContent {
float: left;
height: auto;
margin-top: 30px;
padding-left: 0;
padding-right: 0;
width: 100%;
overflow: hidden;
}
#homeinnerContent_miami {
float: left;
height: auto;
margin-top: 0px;
padding-left: 0;
padding-right: 0;
width: 100%;
overflow: hidden;
}
/* tab content */
#tabContent {
    height: auto;
	width: 100%;
	float: left;
    margin-top: 0;
}

#tabContent p {
    font-size: .95em;
}

#homeContent {
float: left;
height: auto;
margin-top: 0;
padding-left: 0;
width: 100%;
}
#homeContent div.first, #homeContent div > div {
background: none repeat scroll 0 0 transparent;
margin-top: 0;
padding-top: 0;
}
#homeContent img {
border: 3px solid #E0E9F0;
clear: left;
float: left;
margin: 0 20px 20px 0;
}
#homeContent h2 {
color: #0083BE;
font-family: Georgia,"Times New Roman",Times,serif;
font-size: 1.55em;
font-weight: 400;
line-height: 1.5em;
margin-bottom: 12px;
margin-top: 0;
}

/*Widget Email  Styles */

#widget-email {width:166px; font-family: Verdana,Arial,Helvetica,sans-serif; color: #444444; margin: 0 0 15px 8px;}

#widget-email-Button {height:30px;width:66px; float:right; }

#widget-area form { margin: 0; padding: 0;}


#widget-email #email {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    margin-right: 1px;
    margin-top: 4px;
    padding-left: 0.2em;
    vertical-align: top;
    width: 90px;
	height:21px; float:left;
}


#widget-email-Button #vamc_govDeliverySubmit {
    color: #555555;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    width: 66px;
	margin-left: 0;
	float:right;
}

#widget-email-Button .form_button {
    color: #555555;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-left: 0;
    width: 66px;
}

#widget-email #searchOptions {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9px;
    left: 0;
    margin-right: 1px;
    top: 0;
}
#widget-email label{
    color: #000033;
    display: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9px;
    margin: 0;
    padding: 0;
	height:30px;
}
/*End Email Widget Styles*/


/*User Widget */


#leftNavContainer .widget ul {
    list-style-image: none;
    margin-left: 0;
    padding-top: 0;
}

.widget-user{    

	float: left;
    height: 100%;
	margin:0 4px 10px 5px;
	padding:0;
}
.widget-user ul li{padding: 8px 6px; width: 100%;}
.widget-user ul li:last-child a{border-right:none;}
.widget-user ul li a{border-right: 0px solid #0B6CB2;
padding-right: 10px;}


/*Widget Social Styles*/


.widget-social-col-l {  }
.widget-social-col-r {  }

#widget-social {overflow: hidden;margin-bottom:10px;}

#widget-social  ul li {
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
	list-style-type: none;
	display:block;
	padding:0;
	margin:0 0 0 8px;
	border-top: none;
	border-bottom: none;
	float:left;
	width:88px;
	
}
/*End Widget Social Styles*/


/*Widget Quick Links Styles*/


#widget-locator {background: url(../img/bg-locator.png) no-repeat left top  transparent; overflow:hidden;}

#locator-form {height:30px; width:170px; float:left; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; margin: 40px 0 20px 25px;}

#widget-quick-links {overflow:hidden;}

#zipInputButton {height:28px;width:43px; float:left; }

#locator-form form { margin: 0; padding: 0;}

#widget-quick-links  ul li {
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
	list-style-type: none;
	display:block;
	padding:0;
	margin-left:5px;
	margin-bottom:1px;
	border-top: none;
	border-bottom: none;
	float:left;
	width:200px;
	
}

#locator-form #LocatorPostalCode {
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    margin-right: 1px;
    margin-top: 3px;
    padding-left: 0.2em;
    vertical-align: top;
    width: 90px;
	height:19px;
	float:left;
}

#locator-form-Button #zipInputButton {
    color: #555555;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    width: 43px;
	margin-left: 0;
	float:right;
}

#locator-form #searchOptions {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    left: 0;
    margin-right: 1px;
    top: 0;
}

#locator-form label{
    color: #000033;
   /* display: none;*/
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    margin: 0;
    padding: 0;
	height:30px;

 /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* IE10+ */

background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-8 */
}
/* End Widget Quick Links Styles*/


/*  Widget Social Connect and Schare Styles */


.social {
	margin:4px;
	display:inline-block;
	width:200px;
}
.social p, .social div {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0; 
	color:#0083BE; 
	text-transform: uppercase; 
	float: left;
}

.social a.blogger_button {
	margin-left:2px;
}

#socialmedia {
    float: left;
    width: 190px;
	margin-bottom: 10px; 
    padding-top: 20px;
	clear:right;
}

#socialmedia ul {
    margin: 0;
    padding: 0;
}

#socialmedia li {
    float: left;
    margin: 0;
    display: block;
    padding-right: 8px;
}

/*VBA STYLES */
#socialmedia li p {
	padding-right:0;
}

#socialmedia li.facebook a {
    text-decoration: none;
    background: none;
}

#socialmedia li.facebook a:hover {
    text-decoration: none;
}

#socialmedia li.facebook a span {
    display: none;
}

#socialmedia li.twitter a {
    text-decoration: none;
    background: none;
}

#socialmedia li.twitter a:hover {
    text-decoration: none;
}

#socialmedia li.twitter a span {
    display: none;
}

#socialmedia li.flickr a {
    text-decoration: none;
    background: none;
}

#socialmedia li.flickr a:hover {
    text-decoration: none;
}

#socialmedia li.flickr a span {
    display: none;
}

#socialmedia li.youtube a {
    text-decoration: none;
    background: none;
}

#socialmedia li.youtube a:hover {
    text-decoration: none;
}

#socialmedia li.youtube a span {
    display: none;
}
/* END VBA STYLES */


/*  End Widget Social Connect and Schare Styles */

#rightContent {
background-color: #FBFBFB;
/*background-image: url("/img/gray_nav_bkgd.png");*/
background-position: left top;
background-repeat: repeat-x;
float: right;
width: 100%;
min-height: 100%;
margin-top: -30px;
padding-left: 0;
padding-top: 0;
padding-bottom: 20px;
}

#rightContent {
margin-top: 0;
position: relative;

}
#innerRightContent {
/*background-image: url("../img/gray_nav_bkgd.png");*/
background-position: left top;
background-repeat: repeat-x;
padding-left: 0;
padding-right: 0;
/*padding-top: 20px;*/
}
/*#innerRightContent h3, #innerRightContent p {
padding-left: 8px;
}*/
.basicContainer {
background: #ffffff; /* Old browsers */

background: -moz-linear-gradient(top,  #f6f6f6 0%, #f4f4f4 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #f6f6f6 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #f6f6f6 0%,#f4f4f4 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #f6f6f6 0%,#f4f4f4 100%); /* IE10+ */

background: linear-gradient(to bottom,  #f6f6f6 0%,#f4f4f4 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
    border: 1px solid #E6E6E6;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
	padding:0 15px 15px;
	width:91%;
}
.tab-accord{ width:97%;}

.basicContainer-inside {
background: #ffffff; /* Old browsers */

background: -moz-linear-gradient(top,  #f6f6f6 0%, #f4f4f4 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #f6f6f6 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #f6f6f6 0%,#f4f4f4 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #f6f6f6 0%,#f4f4f4 100%); /* IE10+ */

background: linear-gradient(to bottom,  #f6f6f6 0%,#f4f4f4 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
  display: inline-block;
margin: 10px;
padding: 10px 15px 15px;
border: 1px solid #E6E6E6;
}

.basicContainer-inside1{  display: block !important;;}


h3.subsection {
clear: both;
color: #003F72;
font-family: Arial,Helvetica,sans-serif;
font-size: 1.25em;
font-weight: bold;
text-transform: uppercase;
}
h3 span.highlight {
color: #0083BE;
}
#IVHcontrols img{position: relative;
top: -1px;}
#morestories img{position: relative;
top: -1px;}
.serviceBtnDirector{   height: 25px !important;    
    position: relative;
    top: -5px;
    width: 60%;}
#innerContentWrapper {
background-image: url("../img/greyfade.png");
background-position: left top;
background-repeat: repeat-x;
float: left;  width: 100%;
}
#innerContentWrapperPress {
background-image: url("../img/greyfade.png");
background-position: left top;
background-repeat: repeat-x; width: 100%;
}
#innerContentWrapperPhone {
    background-image: url("../img/greyfade.png");
    background-position: left top;
    background-repeat: repeat-x;
    float: left;
    width: 100%;
}
#innerContent {
float: left;
height: auto;
margin-top: 0px;
padding-right: 10px;
overflow: hidden;
width: 96% !important;
padding-left: 10px;
}

.framset{ width:100%; height:270px;}
.video-img{width:100%;}
#ivhfeeds img{position: relative;
top: -2px;}

.national-img{ margin:0px 7px;}



.national-img img{ float: left;
margin-bottom: 10px;
margin-right: 3px;}
#vamc_calendar a:hover{ color:#900; text-decoration:underline;}
#quick-link-rt{ display:none;}
.edition-link{ text-align:left;  padding-right: 0;}
.edition-link a{ font-size:.8em;}
a[href$=".pdf"] {
	background: url("../img/icon-pdf.png") no-repeat;
}
a[href$=".pdf"], a[href$=".ppt"],a[href$=".pptx"], a[href$=".doc"],a[href$=".docx"], a[href$=".xls"],a[href$=".xlsx"],a[href$=".csv"], a[href$=".vsd"],a[href$=".vdw"], a[href$=".mp3"], a[href$=".zip"],a[href$=".rar"] {
	display: inline-block; 
	padding-right: 20px;
	margin-right: .25em;  
	line-height: 16px; 
	background-position: right center;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
}

a[href$=".pdf"] img,a[href$=".ppt"] img,a[href$=".pptx"] img,a[href$=".doc"] img,a[href$=".docx"] img,a[href$=".xls"] img,a[href$=".xlsx"] img,a[href$=".csv"] img,a[href$=".vsd"] img,a[href$=".vdw"] img,a[href$=".mp3"] img,a[href$=".zip"] img,a[href$=".rar"] img {
	padding: 0; 
	margin: 0 -20px -4px 0;
	border: none;
	background-color: transparent;  
}

/* Health Content End */




/* / main navigation ========================================================== */
/* # footer =================================================================== */
#footer-effect {
	width: 100%;
	background: url("../img/bg-footer-effect.png") #021341 center top no-repeat;
	padding-top:20px;
}
#footer a[href$=".pdf"] {
	 background:transparent;
    margin: 0;
    padding: 0;
}
#footer .col{   margin: 7px 10px 10px;}
#footer h4 {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	color: #09C;
	margin: 0 0 0px 0;
	 padding: 10px 0 15px;
	text-transform: none;
	text-align: left;
}
#footer h4.top-level {
	border-bottom: 1px solid #0099CC;
	background:url("../img/arrow-down.png") no-repeat scroll 98% 37% transparent;
	cursor:pointer;
}
#footer h4.top-level.active{ background-image:url(../img/arrow-up.png);}
#footer .ftrcls{
	display:none; margin-top: 8px;
}

/*#footer #connect{display:block;}*/
#footer .footer-accordion{float:left;width:100%; min-height:280px;}
#footer p {
	color: #FFF;
	font-size: 1.2em;
	line-height: 1.7em;
	clear:both;
}
.h4correct {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	color: #FFF;
	/*margin: 0 0 15px 0;*/
	text-transform: none;
}
.txtCenter{ text-align:center}


/*.col-md-3{ width:220px !important;}
.col-md-9{ width:710px !important;}
.banner .col-md-8 {width:66.66% !important; }
.banner .col-md-4 {width:33.33% !important; }
.col-md-8{ width:445px !important;}
.col-md-4{ width:220px !important;}
*/


#footer-social-wrapper {
	float: left !important;
	margin: 0 0 4px 0;
}
#footer-social-wrapper .main-social-containers{ float:left; }
#footer-email {
	height: 30px;
	width: 166px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
	margin: -3px 0;
}
#slider-controls{ display:block; z-index:9999 !important; zoom:1;  filter:alpha(opacity=90);}
#footer-email #email {
	color: #000;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	height: 21px;
	margin-right: 1px;
	margin-top: 3px;
	padding-left: 0.2em;
	vertical-align: top;
	 width: 90px;
	 line-height:20px;
}
#footer-email-Button {
	height: 30px;
	width: 66px;
	float: right;
}
#footer-email label {
	color: #003;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 9px;
	margin: 0;
	padding: 0;
	height: 30px;
}
#footer-email-Button .form_button {
	color: #555;
	float: right;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin-left: 0;
	width: 66px;
}
#footer ul {
	margin: 0;
	padding: 0;
}

#footer li {
	font-size: 1.2em;
	color: #FFF;
	list-style-type: none;
	margin: 0 0 5px;
	padding: 0;
}
#footer a {
	color: #FFF;
	text-decoration: none;
}
#footer a:hover{ text-decoration:underline;}
#sub-footer {
	background-color: #010C2A;
	padding: 10px 0;
	text-align: center;	
	color: #09C;
	float: left;
	width: 100%;
}
#sub-footer p {
	color: #09C;
	font-size: .9em;
	margin: 0; padding-bottom: 5px;
}

#connect p.h4correct{padding-bottom: 5px;}


#locator-mobile{}
#locator-mobile #mainLocator-btn {
   /* border-right: 1px solid #006699;*/
       background: none repeat scroll 0 0 #579CBF ;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: .9em;
    font-weight: bold;
    padding: 11px 0;
    text-align: center;
    text-transform: uppercase;
    width: 33%;
}
#locator-mobile #mainContact-btn {
 /*   border-right: 1px solid #006699;*/
     background: none repeat scroll 0 0 #579CBF ;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: .9em;
    font-weight: bold;
    padding: 11px 0;
    text-align: center;
    text-transform: uppercase;
    width: 33%;
}
#locator-mobile .search-btn {   
    background: none repeat scroll 0 0 #579CBF ;   
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: .9em;
    font-weight: bold;
    padding: 11px 0;
    text-align: center;
    text-transform: uppercase;
    width: 33%;
}
#main-contact {
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    display: none;
    float: left;
    padding: 0 3px 3px;
    text-align: left; width: 100%;
}
#main-locator{  background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    display: none;
    float: left;
    padding: 0 3px 3px;
    text-align: left; width: 100%;}

#tier4innerContent {
float: left;
height: auto;
margin: 0px 0 0 0;
padding-left: 10px;
padding-right: 20px;
width: 95.8%;
overflow: hidden;
}
#tier4innerContent ul {
margin-left: 35px;
padding: 0 0 1em 0;
list-style-type: disc;
}
#tier4innerContent li {
display: list-item;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.5em;
font-size: 1.1em;
list-style-type: disc;
color: #444444;
padding-bottom: 1.25em;
}
table {
border-top: none;
border-left: none;
margin-bottom: 20px;
border-collapse: collapse;
font-size: 100%;
}
td {
font-size: 100%;
font-family: Arial,Helvetica,sans-serif;
color: #444444;
padding: 6px;
border-bottom: none;
border-right: none;
}
#innerContent .top_link {
display: inline-block;
padding: 0;
margin: 20px 0;
}
#innerContent ul {
list-style-type: disc;
}
#innerContent ul {
margin-left: 25px;
padding: 0 0 1em 0;
}
#innerContentWrapperLocation {
background-image: url("../img/greyfade.png");
background-position: left top;
background-repeat: repeat-x;
float: left;
width: 100%;
}
.serviceBtn{   height: 25px !important;    
    position: relative;
    top: -2px;
    width: 60%;}


.txtRight{ text-align:left;}
.top_link{ display:none !important;}
.widget-user-info ul{list-style-type: disc !important;}
.widget-user-info ul li{margin-left: 16px;}
.video-bg{position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;}
.video-bg iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

	#close-nav{   
 background: url("../img/button_close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 22px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 7px;
    width: 32px;}
	
	.accordion li > a span {
	float: left; 
    margin-left: -20px !important;
	margin-right: -6px; 
	margin-top: 4px; 
    padding: 0 10px;
    position:relative;
	top:0px;
}
.accordion li > a {
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 0 rgba(0, 0, 0, 0.1);
    height: auto;
	padding: 6px 10px 4px 30px !important; 
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
	min-height: 26px;
}

.VHA-administration-logo {
left: 0px;
margin-bottom: -54px;
position: relative;
top: -80px;
width:180px;
}

/*New Navigation Styles*/
.accessible-megamenu h3{ position:relative; left:-8px;}
.accessible-megamenu .accessible-megamenu-panel .accessible-megamenu-panel-group ol {margin: 0 0 0 0px}

.accessible-megamenu-panel-group h3 .panelheader { font-weight:bold; margin: 0px 0px -18px -5px;}
.accessible-megamenu .accessible-megamenu-panel ol ol > li{ float:left; width:99%;}
.accessible-megamenu .accessible-megamenu-panel ol ol > li > a {
    width: auto;
    text-indent: -2.5em;
    padding-left: 2.8em !important;
	color:#003F72;
	visibility:visible;
	margin-left:27px;
}




.megamenu .accessible-megamenu-top-nav-item {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    color: #454545 !important;
    display: block;
    float: left;
    height: 52px;
    list-style: none outside none;
    margin: 0 1px 0 0;
    padding: 0;
   position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
}

.accessible-megamenu .accessible-megamenu-top-nav-item:first-child a[aria-haspopup].open {
    border-bottom-left-radius: 0px;
    left: 0px;
    margin-right: 0px;
}
.accessible-megamenu .accessible-megamenu-panel { margin-left: 0px; background-color: #FFFFFF; border-top: 1px solid #E8E8E8; border-left: 1px solid #D6D4D4;  border-right: 1px solid inset #D6D4D4;  border-bottom: 1px solid inset #D6D4D4;}

.accessible-megamenu .accessible-megamenu-top-nav-item { border-right: 1px solid  #BEBEBE; }

.accessible-megamenu .accessible-megamenu-top-nav-item:first-child a[aria-haspopup].open {
    border-bottom-left-radius: 0px;
	border-right:1px solid #BEBEBE;
    left: 0px !important;
    margin-right: 0px;
}


.megamenu .accessible-megamenu-panel.cols-1.firstcol {
    width: 289px; margin-left:1px;
}
.megamenu .accessible-megamenu-panel.cols-1 {
    width: 289px; margin-left:-1px;
}

.accessible-megamenu .accessible-megamenu-panel.cols-2.fifthtolast {
   margin-left: -43px;
}
.accessible-megamenu .accessible-megamenu-panel.cols-3.thirdtolast {
   margin-left: -381px;
}

.accessible-megamenu .accessible-megamenu-panel.cols-1.secondtolast {
    width: 289px; margin-left:-79px;
}
.accessible-megamenu .accessible-megamenu-panel.cols-1.last {
    width: 289px; margin-left:-190px !important;
}

/*.accessible-megamenu .accessible-megamenu-panel > ol > li { border:none;}
.accessible-megamenu .accessible-megamenu-panel.cols-1 > ol > li { border-left: none;}*/


.accessible-megamenu .accessible-megamenu-panel ol li:first-child{ border-left:none;}
.accessible-megamenu .accessible-megamenu-panel ol li ol li{border-left:none;}
.accessible-megamenu .accessible-megamenu-panel ol li{border-left: 1px solid  #BEBEBE;}

.accessible-megamenu .accessible-megamenu-panel{ left:0px !important;}

.tab-accord .tab a.current{filter:none;}
.tab-accord .tab a{filter:none;}


.col-sm-4{ width:314px !important;}
.fright{ width:220px;}