@charset "UTF-8";
/* CSS Document */

#widget-email #email { color: #000000; font-family: Arial,Helvetica,sans-serif; font-size: 10px; margin-right: 1px; margin-top: 4px; padding-left: 0.2em; padding-top:5px; vertical-align: top; width: 90px; height:26px;}

#breadCrumbPath { color: #666666; font-family: Arial,Helvetica,sans-serif; font-size: 0.9em; font-weight: normal; margin-bottom: 15px; margin-top: 5px;}

.styled-select select { background: transparent; width: 190px; padding: 6px; color: #848484; font-family: Arial,Helvetica,sans-serif;  font-size: 1em; line-height:1.9em; font-weight: 400; border: 1px solid #ccc; height: 34px;}

.styled-select { width: 190px; height: 34px; overflow: hidden; background: url(/img/select-arrow.png) no-repeat right #f2f2f2;}

.prselect{background: url("/img/pr-select-arrow.png") no-repeat scroll right center #F2F2F2;width: 185px; padding: 1px; color: #848484; font-family: Arial,Helvetica,sans-serif; font-size: 1em; line-height:1.5em; font-weight: 400; border:none; height: 22px;}

.prselect select { width: 212px; height: 22px; overflow: hidden; background: none;}



#footer-email-Button #vamc_govDeliverySubmit1 { color: #555555; float: right; font-family: Arial,Helvetica,sans-serif; font-size: 10px; font-weight: bold; margin-left: 3px; width: 66px; margin-top:-0px;}

#footer-email #email_footer { color: #000000; float: left; font-family: Arial,Helvetica,sans-serif; font-size: 10px; height: 18px; margin-right: 1px; margin-top: 3px;padding-left: 0.2em; padding-top:3px; vertical-align: middle; width: 85px;}

#main-secondary-nav {
    color: #006699;
    float: right;
    height: 15px;
    margin: 5px 0px 13px 20px;
    width: 341px;
}

#main-search {
    float: right;
    height: 33px;
    margin: 0 -4px 0 20px;
    width: 400px;
}

#widget-email #email {
    font-size: 10px;
    height:26px;
    margin-right: 1px;
    margin-top: 4px;
    padding-left: 0.2em;
    width: 88px;
	float:left;
	line-height: 10px;
}
.accordion li > a span{
	position:relative !important;
	top:-6px;
}

.topnav li.first-level > a{
	filter:none;
}

.accordion li .sub-menu a{
	filter:none;
}
#homepageSlider .scrollable .items > div .slider-info{ filter:none;}
.accessible-megamenu a:focus {
		outline:  1px dotted #000;
		-moz-outline-radius: 2px;
	}
.slider > .slider-thumbnails > .thumbnails-wrap > a{padding: .7% 1% 0% 0.5% !important;}
.slider > .slider-thumbnails > .thumbnails-wrap > a span{ top:15px !important;}
@media (min-width: 960px) {	
	.topnav li.first-level > a{
		filter:none;
	}
}





.accessible-megamenu .accessible-megamenu-top-nav-item a[aria-haspopup] {
	/*padding:0 0.789em 4px 0.789em !important;*/
}
/* New Navigation Styles */

.accessible-megamenu .accessible-megamenu-top-nav-item:first-child a[aria-haspopup].open { left: 0px; margin-right: 0px;}

.accessible-megamenu .accessible-megamenu-top-nav-item:first-child a[aria-haspopup].open {
    border-bottom-left-radius: 0px;
	border-right:1px solid #BEBEBE;
    left: 0px !important;
    margin-right: 0px;
}


.accessible-megamenu .accessible-megamenu-panel { margin-left: 0px; background-color: #FFFFFF; border-top: 1px solid #E8E8E8; border-left: 1px solid #D6D4D4;  border-right: 1px solid #D6D4D4;  border-bottom: 1px solid #D6D4D4; }
.accessible-megamenu .accessible-megamenu-panel > ol > li:first-child{ border-left:none;}
.accessible-megamenu .accessible-megamenu-panel > ol > li{border-left: 1px solid  #BEBEBE;}
.accessible-megamenu .accessible-megamenu-top-nav-item { border-right: 1px solid  #BEBEBE; }

.accessible-megamenu .accessible-megamenu-panel.cols-3 > ol > li {
    width: 100%;
}
.accessible-megamenu .accessible-megamenu-panel{ left:0px !important;}
.tab-accord .tab a{filter:none;}




